httpx
gspread
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
oauth2client
pandas
wget
google
requests
bs4
beautifulsoup4
selenium
urllib3
regex
internetarchive
pypandoc
setuptools
chardet
indic_transliteration
